.container{
    background-color:#374765;
    width: 1148px;
    height: 688px;
    padding: 24px 24px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #484848;
}

table {
    margin: auto;
    line-height: 1.1;
    background:  #fafafa;
}
.choose{
    width: 290px;
    font-size: 18px;
    font-weight: bold;
 }
p{
    font-size: 30px;

}
.dol{
    float: left;
    font-size: 60px ;
    font-weight: bold;
    margin-left: 10px;
}
.kop{
    float: left;
    font-size: 24px ;
    font-weight: bold;
    margin-top: 10px;
}
.month{
    font-size: 18px ;
    margin-right: 25px;
    margin-top: 40px;
}

.typeOfServise{
    width: 257px;
    height: 49px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.Stan{
    background-color: #89c331;
}
.Ult{
    background-color: #f04a56;
}
.Prem{
    background-color: #20807c;
}
.all{
    padding: 10px;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 1px 2px -0 rgba(0,0,0,0.3);

}
.price{
    height: 65px;
}
.storage,.bandwidth,.email,.support,.products,.users{
    height: 48px;
}
.button{
    height: 89px;
}
.even{
    background-color: #f2f2f2;
}
.odd{
    background-color: #e3e3e3;
  }
.contact{
    background-color: #ddd;
}
.buy{
    background-color: #eeeeee;
}
.buy-ult{
    background-color: #f4f4f4;
}

.cont{
    background: linear-gradient(180deg, rgba(72,72,72,1) 0%, rgba(72,72,72,1) 74%, rgba(64,64,64,1) 100%);
}
.st{
    background: linear-gradient(180deg, rgba(137,195,49,1) 0%, rgba(137,195,49,1) 74%, rgba(121,176,39,1) 100%);
}
.ul{
    background: linear-gradient(180deg,  rgba(240,74,86,1) 0%, rgba(240,74,86,1) 74%, rgba(223,58,70,1) 100%);
}
.pr{
    background: linear-gradient(180deg, rgba(32,128,124,1) 0%, rgba(32,128,124,1) 74%, rgba(22,115,111,1) 100%);
}
.btn {
    border-radius: 5px;
    width: 192px;
    height: 49px;
    outline: 0;
    border: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.btn:hover{
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,1);

}
.icon{
    color: #848484;
}
