.main{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    width: 1345px;
    height:  766px;
    position: relative;
    box-sizing: border-box;
    }
a{
    text-decoration: none;
    color: white;
    }
.milan{
    font-size: 29px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    margin-left: 60px;
    }
.holidays{
    font-size: 18px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    margin-left: 60px;
    }
.logo a{
    background-image: url( ../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 46px;
    height: 44px;
    background-position: -5px -5px;
    margin-left: 150px;
    position: absolute;
    top: 50px;
    }
.logo:hover {
    width: 46px;
    height: 44px;
    background-position: -61px -5px;
    color: #f26522;
    }
.contacts{
    position: absolute;
    right: 150px;
    top: 60px;
    color: white;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    line-height: 21px;
    text-align: right;
    }
.img{
    position: absolute;
    width: 313px;
    color: white;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    text-align: center;
    overflow: hidden;
    }
.type{
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    text-align: center;
    line-height: 21px;
    }
.shop{
    top: 360px;
    left: 250px;
    }
.sight{
    top: 360px;
    left: calc(100%/2.25);

    }
.eat{
    top: 360px;
    right: 250px;
    }
.bar{
    top: 660px;
    left: 250px;
    }
.architecture{
    top: 660px;
    left: calc(100%/2.25);
    }
.walk{
    top: 660px;
    right: 250px;
    }
.img img{
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, white 100%);
    border-image-slice: 1;

}
.shoping{
    top: 140px;
    left: 150px;
    }
.sihtseeing{
    top: 140px;
    left: calc(100%/2);
    transform: translateX(-50%);
    }
.food{
    top: 140px;
    right: 150px;
    }
.nightlife{
    left: 150px;
    top: 440px;
    }
.art{
    top: 440px;
    left: calc(100%/2);
    transform: translateX(-50%);
    }
.walking{
    top: 440px;
    right: 150px;
}
.img p{
    padding-top: 20px;
    }
.text:hover{
    color: #f26522;
    }
.view-details {
    position: absolute;
    bottom: -60px;
    left: 2.5px;
    width: calc(100% - 5px);
    background-color: #f26522;;
    padding: 5px 0;
    text-align: center;
    transition: all 0.4s linear;
    font-family: Verdana, sans-serif;
    }
.first-img:hover .view-details{
    bottom: 0;
    color: white;
    }
.first-img:hover .type{
    color: #f26522;
}
.from{
    position: absolute;
    left: 10px;
    top: -5px;
    font-size: 10px;
    }
.euro{
    position: absolute;
    bottom: 10px;
    left: 10px;
    }
.VD{
    float: right;
    padding-right: 20px;
    padding-bottom: 7px;
    }
.VD:after{
    content: '\003E';
    font-family: Verdana, sans-serif;
    color: white;
    padding-left: 15px;
}
footer{
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: calc(100%/2);
    transform: translateX(-50%);
}
