body{
    width: 1280px;
    position: center;
    margin: 0 auto;
}
.logo {
    font-size: 80px;
    font-family: "Myriad Pro", sans-serif;;
    color: #000;
    margin: 50px 0;

}
.logo span{
    color: #4bcaff;
}
a{  text-decoration: none;
    color: #000;
    }
a:visited{
    color: black
}


.navbar {

	padding: 0;
	background-color: #35444f;
	text-align: center;
    margin: 0 auto;

}
.nav-item {
	float: left;
	padding: 15px 20px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
    background-color: #35444f;
    font-family: "Myriad Pro", sans-serif;
    font-size: 24px;


}
.nav-item a{
    color: #fff;
}
.nav-item:first-child {
    margin-left: 17%;
	}


.nav-item:hover {
	background-color: #222f3a;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.clearfix:after {
    clear: both;
    content: '';
    display: table;
}

.leftmenu{
    width: 351px;
    height: 401px;
    list-style: none;
    float: left;
    border: 1px solid #000000;
    margin-right: 30px;
    margin-top: 30px;

}
.left-item{
    padding: 25px 30px;
    font-family: "Myriad Pro", sans-serif;
    font-size: 30px;
    }
.left-item a{
    color: #596770;
}
.left-item:hover{
    background: #dbdbdb;
    text-align: center;

}
.left-item:hover a{
    color: black;

}
.top-img{
    float: right;
    margin-top: 30px;
    background: #fff;
    border: 1px solid #000000;
    width: 810px;
    height: 500px;
    text-align: center;
    display: block;
    padding: 30px;
    transition: transform 0.4s linear;
}
.top-img:hover{
    transform: scale(1.1);
}
img{
   margin: 50px;
}
.clearfix:after{
     clear:both;
     content:'';
     display: table;
 }
.main-text{
    float: right;
    width: 810px;
    padding: 30px;
    font-size: 18px;
    font-family: "Myriad Pro", sans-serif;
    line-height: 1.333;
    text-align: left;
    color:#2C2C2C;
}
.main-text p{
    padding: 15px 0;
}

.foot-item {
    float: left;
    padding: 15px 10px;
    font-family: "Myriad Pro", sans-serif;
    font-size: 28px;
    line-height: 3.214;

}
.foot-item:hover a{
    color: #319393;
    text-decoration: underline;
}
.foot-item:first-child{
    margin-left: 5%;
}
.footbar{
    float: left;
    background-color: #b4b7ba;
    padding: 0;
    font-family: "Myriad Pro", sans-serif;
    font-size: 24px;
    line-height: 3.75;
    width: 1280px;
     }

.copyright{
    float: right;
    padding: 15px 10px;
}